/** LAYOUT **/
html,
body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
  font-size: 10px;
  margin: 0;
}

section,
footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  column-gap: 10%;
  padding: 10rem 10%
}

header {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  padding: 3rem 10%;

  nav a {
    text-transform: uppercase;
  }
}

.logo {
  text-align: center;
  padding-bottom: 10rem;
}

/* APP */
.App {
  position: relative;
}

/* FOOTER */
footer {
 
  .footer-link-container {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  img {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    position: relative;
    width: 10rem;
    margin: auto;
    top: -16rem;
  }

  nav {
    a {
      display: block;
      font-size: 1.5rem;
      line-height: 1;
      margin-bottom: 1.2rem;
      text-transform: uppercase;

      &.social-media {
        grid-row: 3 / span 1;
        width: 3rem;
        height: 3rem;
        margin-right: 2rem;
        background: center no-repeat;
        background-size: 100%
      }

      &.email {
        grid-column: 1 / span 1;
        background-image: url('/img/email.svg')
      }

      &.facebook {
        grid-column: 2 / span 1;
        background-image: url('/img/facebook.svg')
      }

      &.instagram {
        grid-column: 3 / span 1;
        background-image: url('/img/instagram.svg')
      }
    }

    // &:nth-of-type(1) {
    //   grid-column: 1 / span 1;
    //   grid-row: 1 / span 1;
    //   display: grid;
    // }

    // &:nth-of-type(1) a:nth-of-type(1) {
    //   grid-column: 1 / span 1;
    //   grid-row: 1 / span 1
    // }

    // & a:nth-of-type(5) {
    //   grid-column: 2 / span 1;
    //   grid-row: 1 / span 1
    // }

    &:nth-of-type(2) {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      display: grid;
      grid-template-columns: 15% 15% 1fr;
    }

    &:nth-of-type(2) a:nth-of-type(1), &:nth-of-type(2) a:nth-of-type(2) {
      grid-column: 1 / span 3;
    }
  }

  p {
    font-size: 1.2rem;
    line-height: 1.2;
  }

  p#copyright {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    place-self: end start;
    text-transform: uppercase;
    color: #F4C3D6;
  }

  p#disclaimer {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    text-align: justify;
  }
}
