/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #efefef;
    text-shadow: none;
  }
  
  ::selection {
    background: #efefef;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden {
    display: none !important;
  }
  
  /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
  * Hide visually and from screen readers, but maintain layout
  */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .clearfix:after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  html, body {font-family: 'Montserrat', sans-serif; background-color: black; color: white; font-size:10px}
  body.not-home, body.not-home section  {background:white; color:black;}
  
  section, footer {display: grid; grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)); column-gap:10%; padding:10rem 10%}
      
  #quote p, #Alexis-Petra-MD, #process ul, #expect, #insurance-and-fees #insurance, #appointments, footer {background-color:#1B191D; color:white;} 
  
  a {color:white; text-decoration: none}
  a:hover{color:#C3DDF4; transition: 0.5s}
  h1, h2, h3, h4 {text-transform:uppercase; font-weight:normal; letter-spacing:1px; margin:0 0 1.5em 0; line-height:1}
  h1 {margin:0}
      h1 a {color:black}
      h1 strong {font-weight:bold; font-weight:1000; letter-spacing:3px}
  h2 {align-self: end; font-size:2.5rem; font-weight:bold; font-weight:900}
  h3, h4 {align-self: start; color:#F5CBDB; font-size:2rem; }
  h4 {color:white}
  p, ul, li {align-self: start; font-size: 1.9rem; line-height:2.5; margin: 0 0 2rem 0; list-style-type: disc}
  hr {box-shadow: 1px 1px rgba(0, 0, 0, 0.2); background-color: #F4C3D6; border:none; width:20rem; height:1rem; margin:0; position:relative; z-index:1}
  
  header {display:grid; grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)); padding:3rem 10%;}
      header nav a {text-transform:uppercase; }
  
  .home header {text-align:center; border-top:1rem solid black; padding:5rem 0 0 0; background: url("/img/header.jpg") no-repeat; background-size: cover}
      .home h1 {grid-column: 2 / span 2; grid-row: 2 / span 1; align-self: end; justify-self:center; font-size:4vw; font-weight:350; margin:35% 10% .75rem 0}
      .home header nav {grid-column: 1 / span 2; grid-row: 1 / span 1}
      .home header nav svg, .home header nav div img {display:none;}
      .home header nav a {font-size:1.1vw; padding:0 1.5%}
      .home header p {grid-column: 2 / span 2; grid-row: 3 / span 1; align-self: start; justify-self:center; text-align:center; font-size:1.4vw; line-height:1.85; margin: 0 25% 40% 15%}
  
      .not-home h1 {grid-column: 1 / span 1; grid-row: 1 / span 1; justify-self: start; align-self: center}
      .not-home header nav {align-self: center; justify-self:end; position:relative;}
          .not-home header nav svg {width:3rem;}
          .not-home header nav svg:hover {cursor:pointer}
          .not-home header nav svg:hover rect {fill:#C3DDF4; transition: 0.5s}
          .not-home header nav div {display:none; padding:2rem; text-align:center; background:black; position:absolute; right:0; top:0;}
              .not-home header nav div a {display:block; padding:1rem 3rem; font-size:1.5rem;}
              .not-home header nav div img {display:block; width:30%; padding:1rem; margin:auto;}
          .not-home header nav:hover div {display:block}
            
  section#quote {margin-bottom:5rem;}
      #quote p {grid-column: 1 / span 2; grid-row: 1 / span 3; text-align:center; font-size:2rem; margin:0; padding:5rem 10%}
      #quote img {grid-column-start: 2; grid-row: 3 / span 2; place-self: end; width:12rem; margin-right:5rem}
  
  section#mission {padding-top:0; padding-bottom:0; column-gap:0; grid-template-columns: 45% 10% auto; grid-template-rows: 2rem 6rem auto auto}
      #mission hr {grid-column: 1 / span 3; grid-row: 2 / span 1; justify-self: center; align-self: start;}
      #mission h2 {grid-column: 3 / span 1; grid-row: 3 / span 1; align-self:end;}
      #mission p {grid-column: 3 / span 1; grid-row:4 / span 1; align-self:start;}
      #mission img {grid-column: 1 / span 1; grid-row: 1 / span 4; place-self:start; width:100%}
  
  section#about {padding-right:0; padding-bottom:0; column-gap:0; grid-template-columns: 40% 10% 35% auto; grid-template-rows: 2rem auto auto auto 5rem}
      #about h2 {grid-column: 1/ span 1; grid-row: 2 / span 1; place-self:start start}
      #about p {grid-column: 1/ span 1; grid-row: 3 / span 1; place-self:center center}
      #about img {grid-column: 3/ span 2; grid-row: 1/ span 4; width:100%; place-self:start start}
      #about hr {grid-column: 3/ span 1; grid-row: 4 / span 2; justify-self: end; align-self: end; width:1rem; height:20rem; background-color: #C3DDF4; bottom:-1.5rem}
      
  section#Alexis-Petra-MD {} 
      #Alexis-Petra-MD h2 {grid-column: 1/ span 1; grid-row: 1 / span 1}
      #Alexis-Petra-MD h3 {grid-column: 1/ span 1; grid-row: 2 / span 1}
      #Alexis-Petra-MD p {grid-column: 1/ span 1; ; grid-row: 3 / span 1}
      #Alexis-Petra-MD img {grid-column: 2/ span 1; grid-row: 1 / span 4; place-self: start end; width:100%}
      
  section#process {background: url("/img/pattern.gif") repeat-y -50% -1px; background-size: 60%}
      #process h2 {grid-column: 2/ span 1; grid-row: 2 / span 1}
      #process h3 {grid-column: 2/ span 1; grid-row: 3 / span 1}
      #process p {grid-column: 2/ span 1; grid-row: 4 / span 1}
      #process ul {grid-column: 1/ span 1; grid-row: 1 / span 5; padding:15%}
          #process li {margin-bottom:2rem}
      
  section#services {padding-right:0; column-gap:0; grid-template-columns: auto 10% 55%; grid-template-rows: 2rem auto auto auto 5rem auto 3rem}
      #services img {grid-column: 3/ span 1; grid-row: 1 / span 7; place-self: end; width:100%}
      #services h2 {grid-column: 1/ span 1; grid-row: 2 / span 1}
      #services h3 {grid-column: 1/ span 1; grid-row: 3 / span 1}
      #services ul {grid-column: 1/ span 1; grid-row: 4 / span 2}
          #services li {line-height:1.5}
              #services li li:first-of-type {margin-top:1em}
      #services hr {grid-column: 2 / span 2; grid-row: 6 / span 1; place-self: start }   
  
  section#expect {padding-bottom:0}
      #expect h2 {grid-column: 1 / span 2; grid-row: 1 / span 1; justify-self: center}
      #expect h3:first-of-type {grid-column: 1 / span 2; grid-row: 2 / span 1; justify-self: center}
      #expect h3 {line-height:1.5; color:#C3DDF4}
      #expect p {margin:0}
      
      #expect #step1 {grid-column: 1 / span 2; grid-row: 3 / span 1}
      #expect #step2 {grid-column: 2 / span 1; grid-row: 4 / span 2}
      #expect #step3 {grid-column: 1 / span 1; grid-row: 5 / span 3}
      #expect #note {grid-column: 2 / span 1; grid-row: 7 / span 2}
      #expect hr {grid-column: 1/ span 1; grid-row: 20 / span 2; place-self: start; width:1rem; height:20rem; margin-bottom:10rem; background-color: #C3DDF4; position:relative; bottom:-40%}
      
          .step {display:inline-block; text-transform:uppercase; font-size:1.2rem; transform: rotate(270deg); width:.5rem; padding-top:.5rem; color:#F4C3D6}   
              .step-number {display:inline-block; color:#FBE4ED; font-family:serif; font-size:10rem; line-height:1; margin-left:1rem; }
  
  section#insurance-and-fees {background: url("/img/pattern.gif") repeat-y 150% -1px; background-size: 60%}
      #insurance-and-fees h2 {grid-column: 1 / span 2; grid-row: 1 / span 1; margin-top:2rem}
      #insurance-and-fees #fees {grid-column: 1 / span 1; grid-row: 2 / span 1}
      #insurance-and-fees #labs {grid-column: 1 / span 1; grid-row: 3 / span 1}
      #insurance-and-fees #medications {grid-column: 1 / span 1; grid-row: 4 / span 1}
      #insurance-and-fees #insurance {grid-column: 2 / span 1; grid-row: 2 / span 2; padding:10%}
      
  #locations {}
      #locations p, #locations h2, #locations h3 {grid-column: 1 / span 2; text-align:center; margin-bottom:1em;}
      #locations h3 {margin-top:2em}
      
  #appointments {}
      #appointments h2 {grid-column: 1 / span 1; grid-row: 1 / span 1}
      #appointments h3 {grid-column: 1 / span 1; grid-row: 2 / span 1}
      #appointments p:first-of-type {grid-column: 1 / span 1; grid-row: 3 / span 6}
      #appointments p:nth-of-type(2) {grid-column: 1 / span 1; grid-row: 9 / span 4}
      #appointments form {grid-column: 2 / span 1;  grid-row: 2 / span 11; }
          #appointments form > * {border:none; background-color:inherit; font-size:1.85rem}
          #appointments form h3 {color:#C3DDF4; margin-bottom:1rem}
          #appointments form p {line-height:1.2; text-transform:uppercase; margin-bottom:3.5rem}
          #appointments label {display:block; text-transform:uppercase; color:#F5CBDB; margin-top:3rem}
          #appointments input:not([type="submit"]) {display:block; width:100%; text-transform:uppercase; padding:1rem 0; border-bottom:1px solid grey; color:white}
          #appointments input[type="submit"] {text-transform:uppercase; background-color: #C3DDF4; color:black; margin-top:3rem; padding: .5rem 1.25rem; border-radius:1rem; float:right; }
          #appointments input[type="submit"]:hover {cursor:pointer;}
          
  #resources {padding-bottom:0}
      #resources h2 {grid-column: 1 / span 2; grid-row: 1 / span 1; place-self: start center}
      
      #resources #pdf {grid-column: 1 / span 2; grid-row: 3 / span 1; display:grid; grid-template-columns: 33%; align-items: start;}
          #pdf h3 {grid-column: 1 / span 3; grid-row: 2 / span 1; place-self: start center; color:white; margin-bottom:5rem; text-align:center}
          #pdf a:first-of-type {grid-column: 1 / span 1; grid-row: 3 / span 1}
          #pdf a:nth-of-type(2) {grid-column: 2 / span 1; grid-row: 3 / span 1}
          #pdf a:nth-of-type(3) {grid-column: 3 / span 1; grid-row: 3 / span 1}
          #pdf a {place-self: start center; font-size:2rem; text-align:center; background:url(/img/paperclip.svg) top center no-repeat; background-size: 7rem; padding-top:8rem; margin:0 5%}
      
      #resources #external {grid-column: 1 / span 2; grid-row: 4 / span 1; display:grid; column-gap:10%}
          
          #external h4 {grid-column: 1 / span 2; grid-row: 1 / span 1; padding:5rem 10%; line-height:1.2}
          #mental-health-ca {grid-column: 1 / span 1; grid-row: 2 / span 1}
          #legal {grid-column: 2 / span 1; grid-row: 2 / span 1;}
          #external div {margin-bottom:7%}
      
      #resources h2, h4 {text-align:center}
      #resources #external h3 {margin-top:6rem;}
      #resources a {font-size:1.7em; margin-bottom:1em; display:block}
      #resources img {grid-column: 1 / span 2; grid-row: 9 / span 1; place-self: center; position:relative; width:10rem; margin:auto; bottom:-5rem}
  
  #terms-conditions, #privacy-policy {display:block}  
  .logo {text-align:center; padding-bottom:10rem;}
  
  
  
      footer {}
          footer nav a {display:block; font-size:1.5rem; line-height:1; margin-bottom:1.2rem; text-transform:uppercase} 
          footer nav:nth-of-type(1) {grid-column: 1 / span 1; grid-row: 1 / span 1; display: grid}
              footer nav:nth-of-type(1) a:nth-of-type(1) {grid-column: 1 / span 1; grid-row: 1 / span 1}
              footer nav a:nth-of-type(5) {grid-column: 2 / span 1; grid-row: 1 / span 1}
          footer nav:nth-of-type(2) {grid-column: 2 / span 1; grid-row: 1 / span 1; display:grid; grid-template-columns: 15% 15% 1fr; }
              footer nav:nth-of-type(2) a:nth-of-type(1), footer nav:nth-of-type(2) a:nth-of-type(2) {grid-column: 1 / span 3}
              footer nav a.social-media {grid-row: 3 / span 1; width:3rem; height:3rem; margin-right:2rem; background: center no-repeat; background-size: 100%}
              footer nav a.email {grid-column: 1 / span 1; background-image:url(/img/email.svg)}
              footer nav a.facebook {grid-column: 2 / span 1; background-image:url(/img/facebook.svg)}
              footer nav a.instagram {grid-column: 3 / span 1; background-image:url(/img/instagram.svg)}
                 
          footer p#copyright {grid-column: 1 / span 1; grid-row: 2 / span 1; place-self: end start; text-transform:uppercase; color:#F4C3D6}
          footer p#disclaimer {grid-column: 2 / span 1; grid-row: 2 / span 1; text-align:justify }
          footer p {font-size:1.2rem; line-height:1.2}
  
  
    
  
  @media only screen and (max-width: 850px) { 
  
      .home header, .not-home header {text-align: left; border-width:0; padding:0; background-size: 150%}
      .home header h1, .not-home header h1 {grid-column: 1 / span 1; grid-row: 1 / span 1; justify-self: start; align-self: center; margin:0; padding: 2rem; font-size:3rem;}
      .home header nav, .not-home header nav {grid-column: 2 / span 1; grid-row: 1 / span 1; justify-self: end; align-self: center; padding:2rem;}
          .home header nav svg {display:block; width:3rem;}
              .home rect {fill:#ffffff}
          .home header nav svg:hover {cursor:pointer}
          .home header nav div {display:none;}
          
          .home header nav {position:relative;}
          .home header nav div, .not-home header nav div {display:none; padding:8rem 0; text-align:center; background:black; position:absolute; right:0; top:0;}
              .home header nav div a, .not-home header nav div a {display:block; padding:1rem 5rem; font-size:2rem;}
              .home header nav div img, .not-home header nav div img {display:block; width:30%; padding:1rem; margin:2rem auto;}
          .home header nav:hover div {display:block; transition-delay: 0.5s;}
          
      .home header p {grid-column: 1 / span 2; grid-row: 3 / span 1; place-self: start center; font-size:2rem; margin: 65% 0 0 0; padding:2rem; background-color: rgba(0, 0, 0, 0.75);}
  
      .not-home section {padding:2rem;}
  
      
      section {column-gap:0; }
      
      section#quote {padding:0;}
          #quote img {width:30%}
  
      section#mission, section#about {padding-left:0; grid-template-rows:15% 1fr; grid-template-rows: auto auto 5rem auto auto}  
          #mission img, #about img {grid-column: 1 / span 3; grid-row: 1 / span 3; justify-self: start; align-self: end; width:70%}
          #mission h2, #about h2 {grid-column: 1 / span 3; grid-row: 4 / span 1; margin-top:5rem; padding-left:10%;}
          #mission p, #about p {grid-column: 1 / span 3; grid-row:5 / span 1; padding:0 10%}
          #mission hr {grid-column: 2 / span 2; grid-row: 3/ span 1; justify-self: center; align-self: start}
          #about hr {grid-column: 3/ span 1; grid-row: 7 / span 1; justify-self:end; align-self: end; bottom:-5rem}
       
          #Alexis-Petra-MD img {grid-column: 1/ span 2; grid-row: 1 / span 1; justify-self:end; align-self: start; width:60%}  
          #Alexis-Petra-MD h2 {grid-column: 1/ span 2; grid-row: 2 / span 1; margin-top:5rem}
          #Alexis-Petra-MD h3 {grid-column: 1/ span 2; grid-row: 3 / span 1}
          #Alexis-Petra-MD p {grid-column: 1/ span 2; ; grid-row: 4 / span 1}
           
      section#process {background:none}
          #process h2 {grid-column: 1/ span 2; grid-row: 1 / span 1}
          #process h3 {grid-column: 1/ span 2; grid-row: 2 / span 1}
          #process p {grid-column: 1/ span 2; grid-row: 3 / span 1}
          #process ul {grid-column: 1/ span 2; grid-row: 4 / span 1}
          
      section#services {padding-right:0; grid-template-columns: 40% 1fr; grid-template-rows: auto auto auto auto 5rem auto auto auto}
          #services h2 {grid-column: 1/ span 2; grid-row: 1 / span 1; align-self:start;}
          #services img {grid-column: 1/ span 2; grid-row: 2 / span 4; justify-self: end; align-self: end; width:70%}
          #services hr {grid-column: 1 / span 1; grid-row: 5 / span 1; justify-self: center; align-self: start;}   
          #services h3 {grid-column: 1/ span 2; grid-row: 7 / span 1; margin-top:5rem}
          #services ul {grid-column: 1/ span 2; grid-row: 8 / span 1}
              #services li {line-height:1.5}
                  #services li li:first-of-type {margin-top:1em}
              
      #expect {}
          #expect h2 {justify-self:start}
          #expect > div {margin-bottom:5rem;}
          #expect #step1 {grid-column: 1 / span 2; grid-row: 3 / span 1}
          #expect #step2 {grid-column: 1 / span 2; grid-row: 4 / span 1}
          #expect #step3 {grid-column: 1 / span 2; grid-row: 5 / span 1}
          #expect #note {grid-column: 1 / span 2; grid-row: 6 / span 1}
          #expect hr {grid-column: 1/ span 1; grid-row: 7 / span 1;}    
          
      section#insurance-and-fees {background: none}
          #insurance-and-fees h2 {grid-column: 1 / span 2; grid-row: 1 / span 1; margin-top:2rem}
          #insurance-and-fees #fees {grid-column: 1 / span 2; grid-row: 2 / span 1}
          #insurance-and-fees #labs {grid-column: 1 / span 2; grid-row: 3 / span 1}
          #insurance-and-fees #medications {grid-column: 1 / span 2; grid-row: 4 / span 1}
          #insurance-and-fees #insurance {grid-column: 1 / span 2; grid-row: 5 / span 1; padding:10%}        
  
          #appointments h2 {grid-column: 1 / span 2; grid-row: 1 / span 1}
          #appointments h3 {grid-column: 1 / span 2; grid-row: 2 / span 1}
          #appointments p:first-of-type {grid-column: 1 / span 2; grid-row: 3 / span 1}
          #appointments p:nth-of-type(2) {grid-column: 1 / span 2; grid-row: 4 / span 1}
          #appointments form {grid-column: 1 / span 2;  grid-row: 5 / span 1; margin-top:4rem}
  
  
      #resources h2 {grid-column: 1 / span 2; grid-row: 1 / span 1; place-self: start}
      
      #resources #pdf {grid-column: 1 / span 2; grid-row: 3 / span 1; display:block}
       
          #pdf h3 {margin-bottom:5rem; text-align:left}
          #pdf a {text-align:left; background:url(/img/paperclip.svg) left center no-repeat; background-size: 4rem; padding:1.15rem 0 1.15rem 5rem; margin:0}
     
      #resources #external {grid-column: 1 / span 2; grid-row: 4 / span 1; display:block; }
          #external h4 {padding:4rem 0 0 0;}
          #mental-health-ca {grid-column: 1 / span 1; grid-row: 2 / span 1}
          #legal {grid-column: 2 / span 1; grid-row: 2 / span 1;}
          #external div {margin-bottom:7%}
      
      #resources h2, h4 {text-align:left}
      #resources a {font-size:1.7em; margin-bottom:1em; display:block}
      #resources img {grid-column: 1 / span 2; grid-row: 9 / span 1; place-self: center; position:relative; width:20%; bottom:-50%}
  
          footer nav:nth-of-type(1), footer nav:nth-of-type(2) {display: block}
              
      
  
      footer p#copyright {grid-column: 1 / span 2; grid-row: 2 / span 1; margin-top:2rem;}
      footer p#disclaimer {grid-column: 1 / span 2; grid-row: 3 / span 1}
      
  }  
  
  @media only screen and (max-width: 600px) { 
      html, body {font-size:7px;}
      .home header h1, .not-home header h1 {font-size:2rem;}
      p, li {line-height:1.7;}
  }
      
      
      
      
      